* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    padding: 50px 20px;
}

.project {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
}

footer {
    background: #222;
    color: white;
    padding: 10spx;
}
.contact{
    background-color: rgb(150, 255, 209);
    font-size: medium;
    font-family: fantasy;
    border-radius: 10px;
    border:seagreen;
}